<a href="{{ path('tms_logger_api_logs_by_hash_get', { 'hash': tms_logger_hash(entity) }) }}" class="btn btn-default tms_logger_ajax_history_link">
   {{ link|trans }}
</a>

<script type="text/javascript">
$(document).ready(function() {
    $('.tms_logger_ajax_history_link').on('click', function(event) {
        event.preventDefault();
        var url = $(this).attr('href');

        $.getJSON(url, function(data){
            console.log("done");
        })
        .done(function(data) {
            $out = $('\
                <div id="tms_logger_history_modal" tabindex="-1" class="modal fade">\
                    <div class="modal-dialog">\
                        <div class="modal-content">\
                            <div class="modal-header">\
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                                <h3>{% trans %}History{% endtrans %}</h3>\
                            </div>\
                            <div class="modal-body">\
                                <table class="table table-condensed table-bordered">\
                                    <thead>\
                                        <tr>\
                                            <th>{% trans %}Created at{% endtrans %}</th>\
                                            <th>{% trans %}Action{% endtrans %}</th>\
                                            <th>{% trans %}Information{% endtrans %}</th>\
                                        </tr>\
                                    </thead>\
                                    <tbody></tbody>\
                                </table>\
                            </div>\
                        <div>\
                    <div>\
                </div>\
            ');

            var $tbody = $out.find('tbody');
            $.each(data, function(k, v) {
                var $row = $('\
                    <tr>\
                        <td>'+v.createdAt+'</td>\
                        <td>'+v.action+'</td>\
                        <td class="information"></td>\
                    </tr>\
                ');

                if (v.information) {
                    var $information = $('\
                        <table class="information table table-condensed">\
                            <thead>\
                                <tr>\
                                    <th>{% trans %}Field{% endtrans %}</th>\
                                    <th>{% trans %}Before{% endtrans %}</th>\
                                    <th>{% trans %}After{% endtrans %}</th>\
                                </tr>\
                            </thead>\
                            <tbody></tbody>\
                        </table>\
                    ');
                    $.each(jQuery.parseJSON(v.information), function(i, item) {
                        var before = item[0] == null ? '' :
                            typeof item[0] == 'string' ?
                                item[0] :
                                item[0].toSource()
                        ;

                        var after = item[1] == null ? '' :
                            typeof item[1] == 'string' ?
                                item[1] :
                                item[1].toSource()
                        ;

                        $information.find('tbody').append('\
                            <tr>\
                                <td>'+i+'</td>\
                                <td>'+before+'</td>\
                                <td>'+after+'</td>\
                            </tr>\
                        ');
                    });

                    $row.find('.information').append($information);
                }
                $tbody.append($row);
            });
            $('body').append($out);
            $('#tms_logger_history_modal').modal('show');
        })
        .fail(function(jqxhr, textStatus, error) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
        });
    });
});
</script>
