<a href="{{ path('api_log_get_logs_hash', { 'hash': tms_logger_hash(entity) }) }}" class="btn btn-default tms_logger_ajax_history_link">
   {{ link|trans }}
</a>

<script type="text/javascript" src="{{ asset('bundles/tmslogger/js/jsdiff.js') }}"></script>
<script type="text/javascript">
$(document).ready(function() {
    $('.tms_logger_ajax_history_link').on('click', function(event) {
        event.preventDefault();
        var url = $(this).attr('href');

        $.getJSON(url, function(data){
        })
        .done(function(data) {
            $out = $('\
                <div id="tms_logger_history_modal" tabindex="-1" class="modal fade">\
                    <div class="modal-dialog">\
                        <div class="modal-content">\
                            <div class="modal-header">\
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>\
                                <h3>{% trans %}History{% endtrans %}</h3>\
                            </div>\
                            <div class="modal-body">\
                                <table class="table table-condensed table-bordered">\
                                    <thead>\
                                        <tr>\
                                            <th>{% trans %}Created at{% endtrans %}</th>\
                                            <th>{% trans %}Action{% endtrans %}</th>\
                                            <th>{% trans %}Information{% endtrans %}</th>\
                                            <th>{% trans %}Show{% endtrans %}</th>\
                                        </tr>\
                                    </thead>\
                                    <tbody></tbody>\
                                </table>\
                            </div>\
                        <div>\
                    <div>\
                </div>\
            ');

            var $tbody = $out.find('tbody');
            $.each(data, function(k, v) {
                var $row = $('\
                    <tr>\
                        <td>'+v.createdAt+'</td>\
                        <td>'+v.action+'</td>\
                        <td class="information"></td>\
                        <td></td>\
                    </tr>\
                ');

                if (v.information) {
                    var length = Object.keys(jQuery.parseJSON(v.information)).length;
                    var index = 0;
                    var $summary = $('<div class="summary"></div>');
                    $.each(jQuery.parseJSON(v.information), function(i, item) {
                        index++;
                        var comma = (index == length) ? '' : ',';
                        $summary.append('<span>'+i+comma+' <span>');
                    });
                    $show = $('\
                        <a href="#">\
                            <i class="fa fa-plus-square"></i>\
                        </a>\
                    ');
                    $row.find('td:last-child').append($show);

                    var $information = $('\
                        <div style="overflow-wrap: break-word; word-wrap: break-word;" class="fields">\
                            <p>\
                                <span><i class="fa fa-cog"></i> '+v.action+'</span><br/>\
                                <span><i class="fa fa-clock-o"></i> '+v.createdAt+'</span>\
                            </p>\
                            <h4>{% trans %}Fields diff{% endtrans %}</h4>\
                        </div>\
                    ');
                    $.each(jQuery.parseJSON(v.information), function(i, item) {
                        var before = item[0] == null ? '' :
                            typeof item[0] == 'string' ?
                                item[0] :
                                item[0].toSource()
                        ;

                        var after = item[1] == null ? '' :
                            typeof item[1] == 'string' ?
                                item[1] :
                                item[1].toSource()
                        ;

                        var diff = diffString(before, after);

                        $information.append('\
                            <div><strong>'+i+"</strong> : "+diff+'</div>\
                        ');
                    });

                    $information.css('display', 'none');
                    $row.find('.information').append($summary);
                    $row.find('.information').append($information);

                    $show.on('click', function(e) {
                        e.preventDefault();
                        var $backButton = $('<button style="margin-bottom: 10px;" class="btn btn-default">{% trans %}Back to the list{% endtrans %}</button>');
                        var $info = $(this).closest('tr').find('td.information div.fields').clone();
                        console.log($info);
                        $info.css('display', 'block');
                        $info.prepend($backButton);
                        $('.modal .modal-body > table').css('display', 'none');
                        $('.modal .modal-body').append($info);

                        $backButton.on('click', function(e) {
                            $('.modal .modal-body > div.fields').remove();
                            $('.modal .modal-body > table').css('display', 'table');
                        });
                    });
                }
                $tbody.append($row);
            });
            $('body').append($out);
            $('#tms_logger_history_modal').modal('show');

            $('#tms_logger_history_modal').on('hidden.bs.modal', function (e) {
                $('.modal .modal-body > div.fields').remove();
                $('.modal .modal-body > table').css('display', 'table');
            });
        })
        .fail(function(jqxhr, textStatus, error) {
            var err = textStatus + ", " + error;
            console.log( "Request Failed: " + err );
        });
    });
});
</script>